html {
  --brand-color: #3dd5f3;
}

* {
  box-sizing: border-box;
}

.pix_gif {
  width: 60%;
  height: auto;
  margin-left: 5em;
  padding: 1em;
}

.bar-img,
.heart-img {
  width: 50%;
  height: auto;
}

.emoji-imgs {
  width: 15%;
  height: auto;
}

header {
  background-color: var(--brand-color);
  padding: 1em 0 1em 0.5em;
}

h1 {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 25pt;
}

ul {
  list-style-type: none;
}

#left {
  width: 40%;
}

#right_section {
  width: 60%;
}

.container {
  display: flex;
}

.form-check-input:checked {
  background-color: var(--brand-color);
  border-color: #fff;
}

select:focus > option:hover {
  background-color: var(--brand-color);
  box-shadow: 0 0 10px 100px var(--brand-color) inset;
}

.form-control:focus,
.form-control:hover {
  border-color: var(--brand-color);
  box-shadow: 0 0 0 0.25rem var(--brand-color);
}

.flex-item {
  flex: 1;
  margin: 10px; /* Adjust spacing between sections */
}

#submit_btn {
  margin-top: 2em;
}

/* Card styling **************/
.custom_carousel_item {
  padding: 0 5em 5em 5em;
}

.carousel-control-prev-icon,
.carousel-control-next-icon,
.carousel-indicators {
  background-color: var(--brand-color);
  padding: 1em;
}

.card-text {
  float: left;
  width: 5%;
}

/* Card buttons */

.activityBtns img {
  width: 50px;
  height: 50px;
  margin: 1em 0.5em 1em 1em;
}
.activityBtns button {
  border-radius: 80%;
  padding: 0 5px 0 0;
  margin-right: 20px;
  background-color: #fff;
}
.activityBtns button:hover {
  background-color: var(--brand-color);
}

.btn-danger {
  margin-top: 3em;
  margin-left: 18em;
}

@media screen and (max-width: 777px) {
  main {
    flex-direction: column;
    padding: 1em;
  }

  #left_section,
  #right_section {
    width: 95%;
  }
  #submit_btn {
    margin-top: 2em;
    width: 100%;
  }
}
